# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log

# ansible
.vault_pass
.roles

# vagrant
vagrant/*.log
.vagrant

# k8s ansible file
join-command